<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.goods.Dao.ProductPicInfoMapper">

    <resultMap id="BaseResultMap" type="com.example.goods.pojo.ProductPicInfo">
            <id property="productPicId" column="product_pic_id" jdbcType="INTEGER"/>
            <result property="productId" column="product_id" jdbcType="INTEGER"/>
            <result property="picDesc" column="pic_desc" jdbcType="VARCHAR"/>
            <result property="picUrl" column="pic_url" jdbcType="VARCHAR"/>
            <result property="isMaster" column="is_master" jdbcType="TINYINT"/>
            <result property="picOrder" column="pic_order" jdbcType="TINYINT"/>
            <result property="picStatus" column="pic_status" jdbcType="TINYINT"/>
            <result property="modifiedTime" column="modified_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        product_pic_id,product_id,pic_desc,
        pic_url,is_master,pic_order,
        pic_status,modified_time
    </sql>
    <sql id="Base_Column_List1">
        product_id,pic_desc,
        pic_url,is_master,pic_order,
        pic_status
    </sql>
    <insert id="add">
        INSERT INTO product_pic_info(<include refid="Base_Column_List1"/>) VALUES
        (#{picInfoss.product_id}, #{picInfoss.pic_desc}, #{picInfoss.pic_url}, #{picInfoss.is_master}, #{picInfoss.pic_order}, #{picInfoss.pic_status});
    </insert>
    <update id="update">
        UPDATE product_pic_info SET product_id = #{picInfos.productId}, pic_desc = #{picInfoss.pic_desc}, pic_url = #{picInfoss.pic_url}, is_master = #{picInfoss.is_master}, pic_order = #{picInfoss.pic_order}, pic_status = #{picInfoss.pic_status} WHERE product_pic_id = #{id};
    </update>
    <delete id="delete">
        delete from product_pic_info where product_id=#{id}
    </delete>
    <select id="listPic" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from product_pic_info where product_id=#{id}
    </select>
    <select id="Count" resultType="java.lang.Long">
        select COUNT(*) from product_pic_info
    </select>
    <select id="selectByIds" resultType="com.example.goods.pojo.ProductPicInfo">
        select <include refid="Base_Column_List"/> from product_pic_info where product_pic_id=#{id}
    </select>
</mapper>
